header{
  color:white;
  height: 160px;
  background-color:	#0f2a46;

}
/* logo */
header div {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.row{
  text-align: right;
  padding-top: 5%;

}
.img2{
padding-top: 3%;
}
.img3{
padding-top: 3%;
}
.par{
  color: white;
   float: left;
   background-color: #0f2a46;
  padding: 5%;
  margin-top: 10px;
    width: 60%;

} 
.align{
  display: inline-block;
}
.p1{
   float: left;
}

/* .img1{
  padding-left: 40px;
margin-top:60px;
  float: right;
    text-align: left;
}
.img2{
 
margin-top:300px;
  float: right;
    text-align: right;
}
.img3{
  padding-left: 40px;
margin-top:100px;
  float: right;
  text-align: left;
} */
header nav ul li {
  display: inline-block;
}
h1{
 padding-top: 40px;
  margin-top:40px;
  text-align: center;
  font-size: 30pt;
}
header nav {
  margin-top: 30px;
  text-align: right;
  margin-right: 30px;
}

header nav ul li a{
 text-decoration: none;
 margin-left: 20px;
 color:white;
 font-size: 14pt;
}

body{
  margin: 2%;
  margin-top:0%;
  background-color:	#bed7f0;	 

}




footer{
  height: 50px;
  /* background-color: #b5b7b9; */
  color:white;
   text-align: center 

}
footer img{
  margin-top: 600px;
}
