header{
  color:white;
  height: 160px;
  background-color:	#0f2a46;
  /* background-image: url(' https://media.istockphoto.com/photos/abstract-grunge-dark-blue-background-picture-id1156315651?k=6&m=1156315651&s=612x612&w=0&h=54PPSVPsEfiHjL0x5tOtb0J29ATowYB_uHniVRAK9-w='); */

}
/* logo */
header div {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}
.row{
  text-align: right;
  padding-top: 5%;

}

.par{
  color: white;
   float: left;
   background-color: #0f2a46;
   
  padding: 3%;
  margin-top: 65px;
    width: 55%;
    

} 
h2{
  font-size: 24pt;
}
#d1 ,#d2,#d3{
  font-size: 18pt;
}
.p1{
    font-size: 18pt;
}

header nav ul li {
  display: inline-block;
}
h1{
  padding-top: 40px;
   margin-top:40px;
  text-align: center;
  font-size: 30pt;
}
header nav {
  margin-top: 30px;
  text-align: right;
  margin-right: 30px;
}

header nav ul li a{
 text-decoration: none;
 margin-left: 20px;
 color:white;
 font-size: 14pt;
}

body{
  margin: 2%;
  background-color:	#bed7f0;	 
  background-image: url(' https://media.istockphoto.com/photos/abstract-grunge-dark-blue-background-picture-id1156315651?k=6&m=1156315651&s=612x612&w=0&h=54PPSVPsEfiHjL0x5tOtb0J29ATowYB_uHniVRAK9-w=');
/* https://images.all-free-download.com/images/graphicthumb/nostalgic_blue_background_03_hd_picture_169784.jpg */
}


footer{
  height: 180px;
   background-color: #151616; 
  color:white;
   
 margin-bottom: 0px;
  

}
footer img{
padding: 1%;
  float: left;
  margin-left: 10;
}

footer a{
float: right;
 padding-right: 4%;
 padding-top: 0%;
 color:white;
 
}
.p33{
  text-align: center;
 padding-top: 4%;
}