.c1{
background-color:	#b5b7b9;

}
.s1{
  color: white;
   float: left;
   background-color: black;
   margin-right: 400px;
   margin-top: 0;
} 
.s2{
  padding-left: 40px;
margin-top:0;
  float: right;
}
header nav ul li {
  display: inline-block;
}
h1{
  margin-left: 200px;
  
}
header nav {
  margin-top: 20px;
  margin-left: 150px;
}

header nav ul li a{
 text-decoration: none;
 margin-left: 20px;
}
header{
  color:white;
  height: 160px;
}
body{
  margin: 0%;
  background-color:	#061e35;	 
}




footer{
  height: 50px;
  background-color: #b5b7b9;
  color:white;
  /* text-align: center */
}